.container{
    overflow: hidden;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideInLeft;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sidebar {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideUp;
}

.main {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideUp;
}