@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
  background-color : #393053;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sidebar{
  background-color: #18122B;
  border-radius: 20px;
  width: 20vw;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 20px #18122B;
}

.logo-container{
  margin-top: 50px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 5px #100c1d;
}

.profile-data{
  margin-top: 10px;
}

.profile-data h1{
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.role{
  margin-top: 10px;
  font-size: 15px;
  background-color: #0d0a16;
  color: grey;
  padding: 5px;
  border-radius: 10px;
}

.sidebar-hr{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  size: 2;
}

.contacts{
  color: white;
  font-size: 13px;
  gap: 30px;
}

.contacts-itemholder{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.contacts-data{
  font-weight: 500;
}

.main{
  background-color: #18122B;
  border-radius: 20px;
  width: 50vw;
  min-height: 90vh;
  box-shadow: 10px 10px 15px #100c1d;
}

.navbar{
  display: flex;
  background-color: #443C68;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  align-items: center;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 28vw;
  position: absolute;
  right: 16%;
}

.nav_links{
  display: flex;
  gap: 30px;
  color: white;
  font-size: 17px;
}

.heading{
  color: white;
  font-family: "Playwrite PE", cursive;
  font-size: 35px;
  font-weight: 300;
  padding-left: 30px;
  margin-top: 15px;
}

.header-breaker{
  width: 40%;
  margin-top: 10px;
  background-color: rgb(55, 32, 101);
  border-radius: 5px;
  height: 5px;
}

.content{
  color: white;
  padding: 5px;
  margin: 5px;
}

.bio{
  padding: 10px;
  font-size: 15px;
}

.education-card-container{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.education{
  background-color: #00000058;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  min-width: 23vw;
  justify-content: center;
}

.education-heading{
  margin: 10px;
  font-size: 17px;
}

.education-data{
  font-size: 15px;
}

footer{
  display: flex;
  background-color: black;
  justify-content: center;
  padding: 10px;
  color: white;
  align-items: center;
  height: 50px;
}

.border{
  border: 2px solid red;
}

.flex{
  display: flex;
}